* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none !important;
    text-decoration: none !important;
}

:root {
    --main-color: #2c2d35;
    --main-transition: 0.5s;
    --effect: hover 1s linear infinite;
    --turquoise-flash-color: #00ffad;
    --white-color: white;
    --black-color: black;
    --midnight-black: #121212;
    --yellow-color: yellow;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
}

body {
    font-family: 'Cairo', sans-serif;
    font-family: 'IBM Plex Serif', serif;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* 
    ============================================== Custom Scrool Bar =======================================
*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--black-color);

}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    margin-right: 5px;
}



.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btween-flex {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.column-flex {
    flex-direction: column !important;
}




/* 
    ============================================== End Custom Scrool Bar ===================================
*/

/* 
    Global Classes 
*/
.loader-letters {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    transform: scale(.5);
    color: var(--midnight-black);
    -webkit-text-stroke: 2px gray;
    font-size: 4em;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
}

.active {
    visibility: visible !important;
    opacity: 1 !important;
    transform: scale(1) !important;
}

.btn {
    transition: var(--main-transition);
}

.ps-abs {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* 
    =========================================== Start Styling Header ====================================
*/

header ul.small-media {
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--black-color);
    min-width: 100%;
    height: 100vh;
    z-index: 11;
    flex-direction: column;
    justify-content: center !important;
}

.icones i {
    color: var(--white-color);
    font-size: 40px;
    cursor: pointer;
    transition: var(--main-transition);
    position: absolute;
    right: 10px;
    z-index: 11111;
    top: 10px;
}


/* 
    =========================================== End Styling Header ====================================
*/

/* 
    =========================================== start Styling About ====================================
*/

.about p,
.about h1,
.about h3,
.about h4,
.about h6,
.about span {
    position: relative;
    z-index: 8;
}

.about p::selection,
.about h1::selection,
.about h3::selection,
.about h4::selection,
.about h6::selection,
.about span::selection {
    background-color: var(--turquoise-flash-color) !important;
    color: #777;
}

.landing-photo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-5deg);
    z-index: 3;
    max-width: 100%;
}

.work-gallery .item {
    position: relative;
    background-color: var(--main-color);
    padding: 10px;
}

.work-gallery .item img {
    transition: var(--main-transition);
    transform: scale(1);
}

.work-gallery .item img:hover {
    transform: scale(0.95);

}

.swiper {
    width: 100%;
    height: 100%;
        box-shadow: 0 0 20px 0 #333;
}

.swiper-slide {
    padding: 10px !important;
}

footer ul::after {
    content: "";
    width: 1.5px;
    height: 100%;
    position: absolute;
    background-color: var(--white-color);
    left: 0;
    top: 0;

}

footer ul:nth-child(1) li a {
    position: relative;
    padding-bottom: 3px;
}

footer ul:nth-child(1) li a::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--white-color);
    position: absolute;
    left: -200px;
    bottom: 0;
    transition: var(--main-transition);
}

footer ul:nth-child(1) li a:hover::after {
    left: 0;
}

@media (max-width:991px) {
    footer .row {
        width: 100% !important;
    }

    footer ul:nth-child(3) {
        margin-top: 20px;
    }
}

@media (max-width:768px) {
    footer ul::after {
        left: 5px !important;
    }

    h1 {
        text-align: center;
    }

    footer p {
        left: 0 !important;
        padding: 10px;
        text-align: center;
    }
    #animait-img {
        width: 300px !important;
        height: 300px !important;
    }
}

/* 
        =========================================== End Styling Footer ====================================
*/
/* 


/* 
    =============================================== Form Media Query ===========================================
*/


@media (max-width:767px) {
    .wrapper-form {
        width: 340px !important;
    }

    .wrapper form {
        width: 300px !important;
    }

    .left-form {
        width: 35px !important;
    }

    .wrapper form {
        padding: 40px 15px !important;
    }
}

.tracking-in-contract-bck,
.text-pop-up-top {
    width: 100px;
    color: #777;
    z-index: 11;
}

.text-pop-up-top:hover {
    animation: lePeek 1s linear;
}

.leFlyInRight:hover {
    animation: leFlyInRight linear 1s;
}

.leHangAndDropLeft:hover {
    animation: lePushReleaseFrom 1s linear;
}

.leRotateXZoomIn:hover {
    animation: leRotateXZoomIn 1s linear;
}

.rotate:hover {
    animation: rotate 1s linear;
}

a.tracking-in-contract-bck::after {
    content: "";
    background-color: var(--white-color);
    width: 20%;
    height: 2px;
    position: absolute;
    left: -50px;
    bottom: 0;
    transition: var(--main-transition);
}

.tracking-in-contract-bck:hover {
    animation: tracking-in-contract-bck 1s cubic-bezier(.215, .61, .355, 1.000) both;
    color: var(--white-color);
    font-weight: 600;
}

a.tracking-in-contract-bck:hover::after {
    left: 0px;
}

.tracking-in-contract-bck.active {
    color: var(--white-color);
    font-weight: 600;
}



/* 
    =========================================== Text Animations ====================================
*/
@keyframes tracking-in-contract-bck {
    0% {
        letter-spacing: 1em;
        transform: translateZ(400px);
        opacity: 0
    }

    40% {
        opacity: .6
    }

    100% {
        transform: translateZ(0);
        opacity: 1
    }
}

@-webkit-keyframes text-pop-up-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: none;
    }

    100% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
}

@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@-webkit-keyframes focus-in-expand-fwd {
    0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-800px);
        transform: translateZ(-800px);
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes lePeek {
    25% {
        transform: rotateX(30deg) translateY(10px) rotate(-13deg);
    }

    50% {
        transform: translateY(-22px) rotate(3deg) scale(1.1);
    }
}

@keyframes leFlyInRight {
    0% {
        transform: translate(40px, 0px);
        opacity: 0;
    }

    50% {
        transform: translate(-40px, 0px)
    }
}

@keyframes lePushReleaseFrom {
    from {
        transform: scale(3, 3);
        opacity: 0;
    }

    50% {
        transform: scale(.5, .5)
    }
}

@keyframes leRotateXZoomIn {
    50% {
        transform: scale(1.5)
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

/* 
    =========================================== End Text Animations ====================================
*/
/* 
    =========================================== Start Loader Animations ====================================
*/

/* Loader Pseudo Element */
.loader:before,
.loader:after {
    border-radius: 50%;
    content: '';
    display: block;
    height: 20px;
    width: 20px;
}

.loader:before {
    animation: ball1 1s infinite;
    background-color: #cb2025;
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
}

.loader:after {
    animation: ball2 1s infinite;
    background-color: #00a096;
    box-shadow: 30px 0 0 #97bf0d;
}

@keyframes hover {
    0% {
        transform: scale(.5);
        color: var(--midnight-black);
        -webkit-text-stroke: 2px gray;
    }

    20% {
        transform: scale(1);
        color: pink;
        -webkit-text-stroke: 3px red;
        filter: drop-shadow(0 0 1px var(--black-color))drop-shadow(0 0 1px var(--black-color))drop-shadow(0 0 3px red)drop-shadow(0 0 5px red)hue-rotate(10turn);
    }

    50% {
        transform: scale(.5);
        color: var(--midnight-black);
        -webkit-text-stroke: 2px gray;
    }


}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg) scale(0.8);
        -moz-transform: rotate(0deg) scale(0.8);
    }

    50% {
        -webkit-transform: rotate(360deg) scale(1.2);
        -moz-transform: rotate(360deg) scale(1.2);
    }

    100% {
        -webkit-transform: rotate(720deg) scale(0.8);
        -moz-transform: rotate(720deg) scale(0.8);
    }
}

@keyframes ball1 {
    0% {
        box-shadow: 30px 0 0 #f8b334;
    }

    50% {
        box-shadow: 0 0 0 #f8b334;
        margin-bottom: 0;
        -webkit-transform: translate(15px, 15px);
        -moz-transform: translate(15px, 15px);
    }

    100% {
        box-shadow: 30px 0 0 #f8b334;
        margin-bottom: 10px;
    }
}

@keyframes ball2 {
    0% {
        box-shadow: 30px 0 0 #97bf0d;
    }

    50% {
        box-shadow: 0 0 0 #97bf0d;
        margin-top: -20px;
        -webkit-transform: translate(15px, 15px);
        -moz-transform: translate(15px, 15px);
    }

    100% {
        box-shadow: 30px 0 0 #97bf0d;
        margin-top: 0;
    }
}
